#                          LOENTIEF INPUT OUTPUT MODEL
The input-output model is an economic tool used to analyze interdependencies among different sectors within an economy. It quantifies the relationships between sectors by capturing the flows of goods, services, and payments between them. 

In this program we will be checking the expected output for each sector, given their input values.

# STEPS TO CALCULATE FOR EXPECTED OUTPUT
To calculate for the expected outputs of each sector, we follow the following steps



### Step 1: Import the neccessary libraries

In [369]:
import numpy as np
import pandas as pd
from scipy.linalg import pinv

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

### Step 2: Import the CSV file.(This file has different sectors and their input as stated by [BEA Table 6.6B](https://apps.bea.gov/iTable/?reqid=150&step=3&isuri=1&table_list=6006&categories=io&_gl=1*1gckkur*_ga*NDUzMTk3OTQ4LjE3MDk0MTA2MTA.*_ga_J4698JNNFT*MTcwOTQxMDYwOS4xLjEuMTcwOTQxMTI2Ny42MC4wLjA.#eyJhcHBpZCI6MTUwLCJzdGVwcyI6WzEsMiwzXSwiZGF0YSI6W1sidGFibGVfbGlzdCIsIjYwMDkiXSxbImNhdGVnb3JpZXMiLCJHZHB4SW5kIl1dfQ==)

The table gives the amount given as output from one sector and used by the other sector as output. To further explain with an example, the sector; 'Farm' gave $4097 which in turn is used as output by the sector;'Construction'

In [377]:
df = pd.read_csv('C:/Users/dell/Desktop/PROJECTS/Leontief2/Table_summary1.csv')
df.head(2)

,Name,Farms,"Forestry, fishing, and related activities",Oil and gas extraction,"Mining, except oil and gas",Support activities for mining,Utilities,Construction,Wood products,Nonmetallic mineral products,...,"Amusements, gambling, and recreation industries",Accommodation,Food services and drinking places,"Other services, except government",Federal general government (defense),Federal general government (nondefense),Federal government enterprises,State and local general government,State and local government enterprises,Total Intermediate
0,Farms,156211,436,0,63,27,0,4097,0,0,...,436,98,8721,13,12,-105,0,6733,0,607665
1,"Forestry, fishing, and related activities",28194,10959,0,183,0,0,0,22828,1,...,416,533,10672,104,0,570,24,6565,0,102870

In [378]:
df.shape

(72, 73)

# Creating the coefficient matrix for this table
To find the coefficient values, for each sector, divide the value by the equivalent row total. To achieve this, we have to add a Total column for each row.

In [379]:
# Calculate row totals
df['Total']= df.sum(axis=1)
df.head(2)

,Name,Farms,"Forestry, fishing, and related activities",Oil and gas extraction,"Mining, except oil and gas",Support activities for mining,Utilities,Construction,Wood products,Nonmetallic mineral products,...,Accommodation,Food services and drinking places,"Other services, except government",Federal general government (defense),Federal general government (nondefense),Federal government enterprises,State and local general government,State and local government enterprises,Total Intermediate,Total
0,Farms,156211,436,0,63,27,0,4097,0,0,...,98,8721,13,12,-105,0,6733,0,607665,1215327
1,"Forestry, fishing, and related activities",28194,10959,0,183,0,0,0,22828,1,...,533,10672,104,0,570,24,6565,0,102870,205740

In [380]:
df.shape

(72, 74)

In [382]:
# Convert columns to numeric type
numeric_cols = df.columns.drop(['Name', 'Total'])  # Exclude 'Name' and 'Total'
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Create a new DataFrame for the coefficient matrix
coefficient_matrix = pd.DataFrame(index=df.index, columns=columns_to_divide)

# Perform the division operation
for idx, column in enumerate(columns_to_divide):
    coefficient_matrix[column] = df[column] / df['Total'].iloc[idx]

pd.DataFrame(coefficient_matrix)[:3]

,Farms,"Forestry, fishing, and related activities",Oil and gas extraction,"Mining, except oil and gas",Support activities for mining,Utilities,Construction,Wood products,Nonmetallic mineral products,Primary metals,...,"Amusements, gambling, and recreation industries",Accommodation,Food services and drinking places,"Other services, except government",Federal general government (defense),Federal general government (nondefense),Federal government enterprises,State and local general government,State and local government enterprises,Total Intermediate
0,0.128534,0.002119,0.000000,0.000237,0.000540,0.00000,0.005581,0.000000,0.000000,0.000000,...,0.008360,0.000641,0.015318,0.000021,inf,-inf,0.00000,inf,0.000000,0.015115
1,0.023199,0.053266,0.000000,0.000689,0.000000,0.00000,0.000000,0.046135,0.000002,0.000000,...,0.007976,0.003487,0.018745,0.000169,NaN,inf,0.00016,inf,0.000000,0.002559
2,0.000000,0.000000,0.047074,0.000045,0.001239,0.03491,0.000000,0.000042,0.000006,0.000007,...,0.004180,0.000118,0.000025,0.000167,NaN,NaN,0.01008,NaN,0.296783,0.016952

# CREATING THE IDENTITY MATRIX
The formula for solving the input output problem is X = (I- A)^-1 D

where I = Identity Matrix

      A = Coefficient Matrix  
      
      D = Final Demand

In [383]:
# Check the shape of the coefficient_matrix
coefficient_matrix.shape

(72, 72)

### Identity_matrix

We are going to find the identity matrix according to the shape of the coefficient matrix so we can carry out our subtraction

In [402]:
# Get the shape of the DataFrame
df_shape = coefficient_matrix.shape

# Create an identity matrix with the same shape as the DataFrame
identity_matrix = np.eye(df_shape[0], df_shape[1])

# Convert the identity matrix to a DataFrame
identity_df = pd.DataFrame(identity_matrix,index=coefficient_matrix.index, columns=coefficient_matrix.columns)
identity_df

,Farms,"Forestry, fishing, and related activities",Oil and gas extraction,"Mining, except oil and gas",Support activities for mining,Utilities,Construction,Wood products,Nonmetallic mineral products,Primary metals,...,"Amusements, gambling, and recreation industries",Accommodation,Food services and drinking places,"Other services, except government",Federal general government (defense),Federal general government (nondefense),Federal government enterprises,State and local general government,State and local government enterprises,Total Intermediate
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
68,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [401]:
identity_df.shape

(72, 72)

# Calculating for I - A
We subtract the coefficient matrix from the identity matrix, we perform the basic subtraction

In [429]:
I = identity_df
A = coefficient_matrix
k = I - A
k.head(2)

,Farms,"Forestry, fishing, and related activities",Oil and gas extraction,"Mining, except oil and gas",Support activities for mining,Utilities,Construction,Wood products,Nonmetallic mineral products,Primary metals,...,"Amusements, gambling, and recreation industries",Accommodation,Food services and drinking places,"Other services, except government",Federal general government (defense),Federal general government (nondefense),Federal government enterprises,State and local general government,State and local government enterprises,Total Intermediate
0,0.871466,-0.002119,0.0,-0.000237,-0.00054,0.0,-0.005581,0.000000,0.000000,0.0,...,-0.008360,-0.000641,-0.015318,-0.000021,-inf,inf,0.00000,-inf,0.0,-0.015115
1,-0.023199,0.946734,0.0,-0.000689,0.00000,0.0,0.000000,-0.046135,-0.000002,0.0,...,-0.007976,-0.003487,-0.018745,-0.000169,NaN,-inf,-0.00016,-inf,0.0,-0.002559

In [423]:
k.shape

(72, 72)

# Finding the Inverse of I - A

In [410]:
# Convert DataFrames to NumPy arrays and ensure they are of float type
F = A.astype(float).to_numpy()
Q = I.astype(float).to_numpy()

# Calculate the determinant of the difference between F and Q
determinant_diff = Q - F

# Calculate the determinant of the difference matrix
determinant = np.linalg.det(determinant_diff)

# Check if the determinant is non-zero to ensure the matrix is invertible
if determinant != 0:
    # Calculate the inverse of the determinant difference matrix
    inverse_determinant_diff = np.linalg.inv(determinant_diff)
    print("Determinant of the Difference Matrix:")
    print(determinant)
    print("\nInverse of the Determinant Difference Matrix:")
    print(inverse_determinant_diff)
else:
    print("Error: The matrix is singular and cannot be inverted.")

Determinant of the Difference Matrix:
nan

Inverse of the Determinant Difference Matrix:
[[nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 ...
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]]