#                          LOENTIEF INPUT OUTPUT MODEL
The input-output model is an economic tool used to analyze interdependencies among different sectors within an economy. It quantifies the relationships between sectors by capturing the flows of goods, services, and payments between them. 

In this program we will be checking the expected output for each sector, given their input values.

# STEPS TO CALCULATE FOR EXPECTED OUTPUT
To calculate for the expected outputs of each sector, we follow the following steps



### Step 1: Import the neccessary libraries

In [3]:
import numpy as np
import pandas as pd
from scipy.linalg import pinv

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

### Step 2: Import the CSV file.(This file has different sectors and their input as stated by [BEA Table 6.6B](https://apps.bea.gov/iTable/?reqid=150&step=3&isuri=1&table_list=6006&categories=io&_gl=1*1gckkur*_ga*NDUzMTk3OTQ4LjE3MDk0MTA2MTA.*_ga_J4698JNNFT*MTcwOTQxMDYwOS4xLjEuMTcwOTQxMTI2Ny42MC4wLjA.#eyJhcHBpZCI6MTUwLCJzdGVwcyI6WzEsMiwzXSwiZGF0YSI6W1sidGFibGVfbGlzdCIsIjYwMDkiXSxbImNhdGVnb3JpZXMiLCJHZHB4SW5kIl1dfQ==)

The table gives the amount given as output from one sector and used by the other sector as output. To further explain with an example, the sector; 'Farm' gave $4097 which in turn is used as output by the sector;'Construction'

In [4]:
df = pd.read_csv('C:/Users/dell/Desktop/PROJECTS/Leontief2/Table.csv',index_col=False)
df.head(8)

,Name,"Agriculture, forestry, fishing, and hunting",Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Professional and business services,"Educational services, health care, and social assistance","Arts, entertainment, recreation, accommodation, and food services","Other services, except government",Government,Total Commodity Output,Imports
0,"Agriculture, forestry, fishing, and hunting",641691,0,0,0,0,95,274,143,0,0,0,0,0,0,5663,649153,82128
1,Mining,0,74119,14,0,746,0,0,0,0,0,335,0,0,0,836,742176,228268
2,Utilities,0,0,647971,0,0,0,0,227,0,0,0,0,0,0,1994,84723,458
3,Construction,84,18357,2783,2131476,11513,967,6437,59,2222,27132,2171,2895,3276,526,23622,2243447,0
4,Manufacturing,12,69319,0,0,682885,1534,16312,0,2613,0,1926,0,0,0,1598,6931162,264917
5,Wholesale trade,0,2419,1987,0,71611,2358915,0,0,756,0,154,0,44,581,0,2443219,0
6,Retail trade,0,0,1233,0,0,0,2224492,12,7777,431,6176,1234,811,6477,1624,228154,0
7,Transportation and warehousing,0,0,4682,0,0,135,0,174397,0,1582,686,0,0,0,56413,188637,136811

In [5]:
df.shape

(17, 18)

# Cleaning our data to remove NaN

In [6]:
df.isna().sum()

Name                                                                 0
Agriculture, forestry, fishing, and hunting                          0
Mining                                                               0
Utilities                                                            0
Construction                                                         0
Manufacturing                                                        0
Wholesale trade                                                      0
Retail trade                                                         0
Transportation and warehousing                                       0
Information                                                          0
Finance, insurance, real estate, rental, and leasing                 0
Professional and business services                                   0
Educational services, health care, and social assistance             0
Arts, entertainment, recreation, accommodation, and food services    0
Other services, except government                                    0
Government                                                           0
Total Commodity Output                                               0
Imports                                                              0
dtype: int64

### There  is no nan, so will move on to inspect for a non-numerical cells

In [7]:
df["Wholesale trade"][13]

'zz'

In [8]:
# Replace the 'zz' cell with 0
df["Wholesale trade"].replace('zz', '0', inplace=True)

In [9]:
df[:2]

,Name,"Agriculture, forestry, fishing, and hunting",Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Professional and business services,"Educational services, health care, and social assistance","Arts, entertainment, recreation, accommodation, and food services","Other services, except government",Government,Total Commodity Output,Imports
0,"Agriculture, forestry, fishing, and hunting",641691,0,0,0,0,95,274,143,0,0,0,0,0,0,5663,649153,82128
1,Mining,0,74119,14,0,746,0,0,0,0,0,335,0,0,0,836,742176,228268

In [10]:
df.shape

(17, 18)

# Creating the coefficient matrix for this table
To find the coefficient values, for each sector, divide the value by the equivalent row total. To achieve this, we have to add a Total column for each row.

In [11]:
# Calculate row totals
df['Total']= df.sum(axis=1)
df.head(3)

,Name,"Agriculture, forestry, fishing, and hunting",Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Professional and business services,"Educational services, health care, and social assistance","Arts, entertainment, recreation, accommodation, and food services","Other services, except government",Government,Total Commodity Output,Imports,Total
0,"Agriculture, forestry, fishing, and hunting",641691,0,0,0,0,95,274,143,0,0,0,0,0,0,5663,649153,82128,1379052
1,Mining,0,74119,14,0,746,0,0,0,0,0,335,0,0,0,836,742176,228268,1046494
2,Utilities,0,0,647971,0,0,0,0,227,0,0,0,0,0,0,1994,84723,458,735373

In [11]:
df.shape

(17, 19)

In [12]:
# Extract the columns to divide (excluding 'Name' and 'Total' columns)
columns_to_divide = df.columns[1:-1]

# Convert columns to numeric type
numeric_cols = df.columns.drop(['Name', 'Total'])  # Exclude 'Name' and 'Total'
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Create a new DataFrame for the coefficient matrix
coefficient_matrix = pd.DataFrame(columns=columns_to_divide)

# Perform the division operation
for idx, column in enumerate(columns_to_divide):
    coefficient_matrix[column] = df[column] / df['Total'].iloc[idx]

pd.DataFrame(coefficient_matrix)[:3]

,"Agriculture, forestry, fishing, and hunting",Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Professional and business services,"Educational services, health care, and social assistance","Arts, entertainment, recreation, accommodation, and food services","Other services, except government",Government,Total Commodity Output,Imports
0,0.465313,0.000000,0.000000,0.0,0.000000,0.000038,0.000111,0.000254,0.0,0.0,0.000000,0.0,0.0,0.0,0.000750,17.001545,2.037511
1,0.000000,0.070826,0.000019,0.0,0.000094,0.000000,0.000000,0.000000,0.0,0.0,0.000048,0.0,0.0,0.0,0.000111,19.437850,5.663094
2,0.000000,0.000000,0.881146,0.0,0.000000,0.000000,0.000000,0.000403,0.0,0.0,0.000000,0.0,0.0,0.0,0.000264,2.218925,0.011363

# CREATING THE IDENTITY MATRIX
The formula for solving the input output problem is X = (I- A)^-1 D

where I = Identity Matrix

      A = Coefficient Matrix  
      
      D = Final Demand

In [13]:
# Check the shape of the coefficient_matrix
coefficient_matrix.shape

(17, 17)

### Identity_matrix

We are going to find the identity matrix according to the shape of the coefficient matrix so we can carry out our subtraction

In [14]:
# Get the shape of the DataFrame
df_shape = coefficient_matrix.shape

# Create an identity matrix with the same shape as the DataFrame
identity_matrix = np.eye(df_shape[0], df_shape[1])

# Convert the identity matrix to a DataFrame
identity_df = pd.DataFrame(identity_matrix,index=coefficient_matrix.index, columns=coefficient_matrix.columns)
identity_df.head(2)

,"Agriculture, forestry, fishing, and hunting",Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Professional and business services,"Educational services, health care, and social assistance","Arts, entertainment, recreation, accommodation, and food services","Other services, except government",Government,Total Commodity Output,Imports
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
identity_df.shape

(17, 17)

# Calculating for I - A
We subtract the coefficient matrix from the identity matrix, we perform the basic subtraction

In [15]:
I = identity_df.to_numpy()
A = coefficient_matrix.to_numpy()
Q = I - A
difference = pd.DataFrame(Q)
difference.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.534687,0.000000,0.000000,0.0,0.000000,-0.000038,-0.000111,-0.000254,0.0,0.0,0.000000,0.0,0.0,0.0,-0.000750,-17.001545,-2.037511
1,0.000000,0.929174,-0.000019,0.0,-0.000094,0.000000,0.000000,0.000000,0.0,0.0,-0.000048,0.0,0.0,0.0,-0.000111,-19.437850,-5.663094

# Finding the Inverse of I - A

In [16]:
# Convert DataFrame to NumPy array
array = difference.to_numpy()

# Calculate the determinant of the array
determinant = np.linalg.det(array)
inverse = np.linalg.inv(array)

print(f' The determinant is: {determinant}')
print(f'\nInverse is:')
new_df = pd.DataFrame(inverse)

# Create the DataFrame using the row and column label names
new_df = pd.DataFrame(inverse, columns=coefficient_matrix.columns, index=coefficient_matrix.columns)
new_df

 The determinant is: -3.057793911103707e-11

Inverse is:

,"Agriculture, forestry, fishing, and hunting",Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Professional and business services,"Educational services, health care, and social assistance","Arts, entertainment, recreation, accommodation, and food services","Other services, except government",Government,Total Commodity Output,Imports
"Agriculture, forestry, fishing, and hunting",1.861154,-0.626985,-2.197957,-0.001496,-8.696548,-5.470755e-01,-1.656242,-0.428611,-10.407069,-0.002288,-7.577005,-0.274901,-2.985912,-0.283891,-324.998007,-9.669715e+04,-2.148572e+05
Mining,-0.006891,0.601379,-1.664434,-0.001133,-6.586275,-4.151484e-01,-1.255905,-0.325120,-7.881596,-0.001733,-5.738273,-0.208202,-2.261398,-0.215096,-246.124015,-7.323418e+04,-1.627116e+05
Utilities,-0.004842,-0.333673,7.244139,-0.000796,-4.628168,-2.917254e-01,-0.882524,-0.223554,-5.538506,-0.001217,-4.032364,-0.146301,-1.589058,-0.151150,-172.965908,-5.146067e+04,-1.143506e+05
Construction,-0.029408,-2.008597,-7.107265,1.904250,-28.360281,-1.775647e+00,-5.351882,-1.399513,-33.924029,-0.001311,-24.708259,-0.882435,-9.721558,-0.913576,-1060.032015,-3.153747e+05,-7.007949e+05
Manufacturing,-0.052642,-3.550666,-12.720374,-0.008659,-49.237115,-3.162026e+00,-9.525402,-2.484405,-60.218222,-0.013236,-43.849321,-1.590787,-17.280612,-1.639409,-1881.006247,-5.596311e+05,-1.243531e+06
Wholesale trade,-0.258532,-17.765685,-62.104874,-0.042516,-246.952104,9.735621e-13,-47.079459,-12.197398,-295.668544,-0.064991,-215.289539,-7.810865,-84.839178,-7.985795,-9235.191910,-2.747567e+06,-6.105380e+06
Retail trade,-0.016288,-1.128555,-3.815127,-0.002682,-15.654163,-9.831996e-01,6.987018,-0.767027,-18.441439,-0.003477,-13.582300,-0.464194,-5.344349,0.074532,-585.115490,-1.740813e+05,-3.868252e+05
Transportation and warehousing,-0.003730,-0.256997,-0.823104,-0.000613,-3.564694,-2.234269e-01,-0.679683,1.272651,-4.265028,-0.000666,-3.105199,-0.112682,-1.223913,-0.116389,-133.178539,-3.963625e+04,-8.805782e+04
Information,-0.003749,-0.258711,-0.905409,-0.000595,-3.589847,-2.192071e-01,-0.670619,-0.170725,-2.620016,-0.000911,-3.012634,-0.113051,-1.230068,-0.112523,-134.299917,-3.996030e+04,-8.879071e+04
"Finance, insurance, real estate, rental, and leasing",-0.112405,-7.745696,-27.152473,-0.018485,-107.441442,-6.602785e+00,-20.420478,-5.294322,-128.513738,1.946097,-93.604897,-3.394976,-36.886198,-3.465476,-4015.527370,-1.194664e+06,-2.654667e+06
Professional and business services,-0.049894,-3.447851,-12.032807,-0.007398,-47.875968,-2.756615e+00,-8.831299,-2.124138,-51.505968,-0.011368,-37.463665,-1.500448,-16.371984,-1.446776,-1794.505643,-5.339854e+05,-1.186486e+06
"Educational services, health care, and social assistance",-0.004988,-0.348363,-1.221073,-0.000831,-4.831929,-3.045041e-01,-0.915958,-0.237815,-5.777566,-0.001269,-4.208778,1.589788,-1.636612,-0.157244,-180.564181,-5.372672e+04,-1.193845e+05
"Arts, entertainment, recreation, accommodation, and food services",0.000504,-0.182035,-0.635122,-0.000434,-2.524899,-1.590732e-01,-0.277950,-0.124076,-3.015219,-0.000641,-2.198624,0.011665,0.181794,-0.067130,-94.338344,-2.807488e+04,-6.238499e+04
"Other services, except government",-0.006036,-0.442556,-1.505395,-0.001044,-6.139159,-3.830903e-01,1.932310,-0.267040,-7.175756,0.000316,-5.288795,-0.173725,-1.978617,8.717279,-229.526071,-6.829128e+04,-1.517457e+05
Government,-0.049749,-3.428014,-12.006138,-0.008181,-47.547765,-2.997103e+00,-9.066666,-2.347157,-56.900198,-0.012509,-41.426758,-1.503035,-16.325282,-1.552848,-1775.029552,-5.286842e+05,-1.174792e+06
Total Commodity Output,-0.000251,-0.017325,-0.060740,-0.000041,-0.240300,-1.514695e-02,-0.045822,-0.011862,-0.287566,-0.000063,-0.209365,-0.007596,-0.082506,-0.007848,-8.980860,-2.671899e+03,-5.937241e+03
Imports,-0.000265,-0.018289,-0.064089,-0.000044,-0.253680,-1.599035e-02,-0.048373,-0.012523,-0.303578,-0.000067,-0.221023,-0.008019,-0.087100,-0.008285,-9.475589,-2.820672e+03,-6.264150e+03

In [17]:
inverse.shape

(17, 17)

# Find the percentage Increase of a particular row according to the user preference

### I imported a new data frame but with no index this time to allow carry out my percentage increase

In [18]:
df1 = pd.read_csv('C:/Users/dell/Desktop/PROJECTS/Leontief2/Table.csv',index_col=0)
df1["Wholesale trade"].replace('zz', '0', inplace=True)

In [19]:
df1[:2]

,"Agriculture, forestry, fishing, and hunting",Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,Information,"Finance, insurance, real estate, rental, and leasing",Professional and business services,"Educational services, health care, and social assistance","Arts, entertainment, recreation, accommodation, and food services","Other services, except government",Government,Total Commodity Output,Imports
Name,,,,,,,,,,,,,,,,,
"Agriculture, forestry, fishing, and hunting",641691,0,0,0,0,95,274,143,0,0,0,0,0,0,5663,649153,82128
Mining,0,74119,14,0,746,0,0,0,0,0,335,0,0,0,836,742176,228268

### Multiply the selected row by the percentage increase. This becomes our final Demand matrix from where we can multiply by the inverse matrix according to the formula = inverse(I - A) * Final demand

In [20]:
# Ask the user for the name of the row to be selected
row_name = input("Enter the name of the row to be selected: ")

# Check if the row_name exists in the DataFrame
if row_name not in df1.index:
    print(f"Error: Row with name '{row_name}' not found.")
    exit()

# Get the row data for the specified row_name
row_data = df1.loc[row_name]

# Ask the user for percentage increase
percentage_increase = float(input("Enter the percentage increase (e.g., 20 for 20%): ")) / 100

# Ensure the row_data is numeric (convert if necessary)
row_data_numeric = pd.to_numeric(row_data, errors='coerce')

if row_data_numeric.isnull().any():
    print("Error: Non-numeric data found in the selected row.")
else:
    Final_demand = (1 + percentage_increase) * row_data_numeric.values.reshape(-1, 1)

print("Final_demand Matrix:")
pd.DataFrame(Final_demand)

Enter the name of the row to be selected: Information
Enter the percentage increase (e.g., 20 for 20%): 87
Final_demand Matrix:

            0
0        0.00
1        0.00
2        0.00
3        0.00
4        0.00
5        0.00
6     1617.55
7        0.00
8   353087.79
9        0.00
10  231592.02
11       0.00
12     314.16
13     164.56
14   10197.11
15  396357.72
16   39976.86

In [21]:
Final_demand.shape

(17, 1)

# Show the Final result and display the Expected Output for each Industry
we are going to achieve this final stage( inverse(I-A)* Final Demand)

In [24]:
Result = pd.DataFrame(inverse.dot(Final_demand))

print(f'For every ({percentage_increase * 100}% percentage increase applied on every cell of the {row_name} row, we will have:')

# Modify the names for output levels
columns_df1 = df1.columns.tolist()
names_output_levels = [f'\nThe Output Level for {column}' for column in columns_df1]

Result = Final_demand.ravel()  # Convert the Final_demand matrix to a 1D array

# Print the results with modified names
for i, output_level in enumerate(Result):
    print(f'{names_output_levels[i]} = {output_level}')

For every (87.0% percentage increase applied on every cell of the Information row, we will have:

The Output Level for Agriculture, forestry, fishing, and hunting = 0.0

The Output Level for Mining = 0.0

The Output Level for Utilities = 0.0

The Output Level for Construction = 0.0

The Output Level for Manufacturing = 0.0

The Output Level for Wholesale trade = 0.0

The Output Level for Retail trade = 1617.5500000000002

The Output Level for Transportation and warehousing = 0.0

The Output Level for Information = 353087.79000000004

The Output Level for Finance, insurance, real estate, rental, and leasing = 0.0

The Output Level for Professional and business services = 231592.02000000002

The Output Level for Educational services, health care, and social assistance = 0.0

The Output Level for Arts, entertainment, recreation, accommodation, and food services = 314.16

The Output Level for Other services, except government = 164.56

The Output Level for Government = 10197.11

The Output Level for Total Commodity Output = 396357.72000000003

The Output Level for Imports = 39976.86